**Note:**
This data pipeline scrappes raw data from [joburgmarket](http://www.joburgmarket.co.za/dailyprices.php) to an SQL Database.

In [25]:
import pandas as pd
import requests
import urllib
from scrapy.http import HtmlResponse
from sqlalchemy import create_engine, insert


# Custom upload with connection string
from engine_info import server_info
# From tables.py
import tables

import warnings
warnings.filterwarnings('ignore')

In [13]:
# Url where the data is going to be scrapped from
url = 'http://www.joburgmarket.co.za/dailyprices.php'

In [14]:
# Extracting html content of the url
html = requests.get(url).content
# Creating a response variable to enable web scrapping in the url 
response = HtmlResponse(url=url, body=html)

In [15]:
# Extracting the date for latest information displayed on the website
date = response.xpath('//div[@id="right2"]').css('p b ::text').get()
print(f"The information in the website is for {date}.")

The information in the website is for 20 August 2020.

In [16]:
# Creating a connection to MS SQL SERVER
params = urllib.parse.quote_plus(server_info)
engine = create_engine('mssql+pyodbc:///?odbc_connect=%s' % params)
connection = engine.connect()

In [17]:
# Check what is in the database
engine.table_names()

['commodity_raw', 'container_raw', 'product_combination_raw', 'scrapping_date']

In [18]:
# Data scrapped comes in as a list, which must be converted to a Dataframe
commodity_df = pd.read_html(url)[0]

In [19]:
commodity_df.head()

,Commodity,Total Value Sold,Total Qty Sold,Total Kg Sold,Qty Available
0,AMADUMBE,"R0.00MTD: R39,870.00",0MTD: 97,"0MTD: 1,940",2
1,APPLES,"R1,205,932.00MTD: R22,664,221.00","13,799MTD: 261,296","157,462MTD: 3,163,863",91755
2,ARTICHOKES,"R600.00MTD: R53,100.00",4MTD: 439,3MTD: 522,1
3,ASPARAGUS,"R34,000.00MTD: R258,975.00",50MTD: 359,"250MTD: 1,795",8
4,ATCHARA,"R0.00MTD: R1,351.20",0MTD: 23,0MTD: 65,207

In [20]:
# Attach the date column to the dataframe
commodity_df.insert(loc=0, column='Date', value=date)

In [21]:
commodity_df.head()

,Date,Commodity,Total Value Sold,Total Qty Sold,Total Kg Sold,Qty Available
0,20 August 2020,AMADUMBE,"R0.00MTD: R39,870.00",0MTD: 97,"0MTD: 1,940",2
1,20 August 2020,APPLES,"R1,205,932.00MTD: R22,664,221.00","13,799MTD: 261,296","157,462MTD: 3,163,863",91755
2,20 August 2020,ARTICHOKES,"R600.00MTD: R53,100.00",4MTD: 439,3MTD: 522,1
3,20 August 2020,ASPARAGUS,"R34,000.00MTD: R258,975.00",50MTD: 359,"250MTD: 1,795",8
4,20 August 2020,ATCHARA,"R0.00MTD: R1,351.20",0MTD: 23,0MTD: 65,207

In [27]:
# The commodity_df must be transfered to commodity_raw sql database.
# Rename the column names in DataFrame to match column names in SQL table
tables.Commodity.__table__.columns.keys()[1:]

['date',
 'commodity',
 'total_value_sold',
 'total_qty_sold',
 'total_kg_sold',
 'qty_available']

In [22]:
# Transfer dataframe to sql table
# NOTE: Exclude column headers
commodity_df.to_sql('commodity_raw', con=engine, index_label='id', if_exists='append')

ProgrammingError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'Total Value Sold'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'Total Qty Sold'. (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'Total Kg Sold'. (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid column name 'Qty Available'. (207); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)")
[SQL: INSERT INTO commodity_raw (id, [Date], [Commodity], [Total Value Sold], [Total Qty Sold], [Total Kg Sold], [Qty Available]) VALUES (?, ?, ?, ?, ?, ?, ?)]
[parameters: ((0, '20 August 2020', 'AMADUMBE', 'R0.00MTD: R39,870.00', '0MTD: 97', '0MTD: 1,940', 2), (1, '20 August 2020', 'APPLES', 'R1,205,932.00MTD: R22,664,221.00', '13,799MTD: 261,296', '157,462MTD: 3,163,863', 91755), (2, '20 August 2020', 'ARTICHOKES', 'R600.00MTD: R53,100.00', '4MTD: 439', '3MTD: 522', 1), (3, '20 August 2020', 'ASPARAGUS', 'R34,000.00MTD: R258,975.00', '50MTD: 359', '250MTD: 1,795', 8), (4, '20 August 2020', 'ATCHARA', 'R0.00MTD: R1,351.20', '0MTD: 23', '0MTD: 65', 207), (5, '20 August 2020', 'AVOCADOS', 'R1,058,716.00MTD: R11,358,074.40', '9,569MTD: 124,016', '54,059MTD: 747,703', 14429), (6, '20 August 2020', 'BABY BEET', 'R0.00MTD: R1,462.00', '0MTD: 31', '0MTD: 63', 7), (7, '20 August 2020', 'BABY BRINJALS', 'R1,320.00MTD: R1,920.00', '9MTD: 13', '27MTD: 39', 0)  ... displaying 10 of 169 total bound parameter sets ...  (167, '20 August 2020', 'WILD ROCKET', 'R0.00MTD: R286.00', '0MTD: 25', '0MTD: 3', 18), (168, '20 August 2020', 'YELLOW PEPPERS', 'R178,882.00MTD: R2,408,299.00', '4,117MTD: 45,044', '20,478MTD: 224,226', 7476))]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
response.css('div#right2 > h1 ::text').extract()

In [ ]:
response.xpath('//div[@id="right2"]/h1//text()').extract()

In [ ]:
response.xpath('//div[@id="right2"]').css('h1 ::text').extract_first()

In [ ]:
response.xpath('//div[@id="right2"]').css('p b ::text').extract_first()

In [ ]:
response.xpath('//div[@id="right2"]/h1//text()').get()

In [ ]:
date = response.xpath('//div[@id="right2"]').css('p b ::text').get()

In [ ]:
#response.css('select option ::text').getall()[1:]

In [ ]:
sample = response.xpath('//select/option/@value').extract()[1:5]

In [ ]:
sample

In [ ]:
for item in sample:
    print(re.findall(r'\d+', item)[0])

In [ ]:
#link?commodity={}

In [ ]:
col_headings = [
    'Date',
    'Commodity',
    'Total Value Sold',
    'Total Value Sold MTD',
    'Total Qty Sold',
    'Total Qty Sold MTD',
    'Total Kg Sold',
    'Total Kg Sold MTD',
    'Qty Available'
]

In [ ]:
product = response.xpath('//table[@class="alltable"]').css('td.tleft2 ::text').extract()

In [ ]:
product[:5]

In [ ]:
purchases = []
for i, fresh_produce in enumerate(product):
    row = response.xpath('//table[@class="alltable"]').css('td.tleft ::text').extract()[(i * 7):(i * 7) + 7]
    modified_list = [] 
    for index, item in enumerate(row):
        item = item.replace(",", "").replace("R", "").replace("MTD:", "") # i.e. converted e.g. R 1,234.56 --> 1234.56
        item = item.lstrip()
        modified_list.append(float(item))
    purchases.append([date] + [fresh_produce] + modified_list)

In [ ]:
purchases[0]

In [ ]:
df = pd.DataFrame(data=purchases, columns=col_headings)

In [ ]:
df.head()

In [ ]:
import urllib

In [ ]:
#engine = create_engine('mssql+pyodbc://LAPTOP-7FR129DV/SQLEXPRESS/jhb_market/?driver=SQL Server?Trusted_Connection=yes')

In [ ]:
engine.table_names()

In [ ]:
if 'product_raw' in ['product_raw']:
    alert('table in database')